# Gradle
.gradle/
build/
*/build/
**/build/
!src/**/build/

# Kotlin
.kotlin/

# IDEs
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries/
.idea/caches/
.idea/modules.xml

# Local configuration
local.properties

# OS specific
.DS_Store
Thumbs.db

# Native builds
.externalNativeBuild/
.cxx/
captures/

# JS/Node (if used in Desktop)
node_modules/

# Executables and installers
*.exe
installer_build/
redist/ViGEmBusSetup.exe
*.msi
*.appimage
